{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des catégories</h1>
    
    <table style="width: 80%;">
        <tr>
            <th></th>
            <th>Nom</th>
        </tr>
        {% set i = 1 %}
        {% for item in List %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ item.name }}</td>
            </tr>
        {% set i = i + 1 %}
        {% endfor %}
    </table>
    
</div>
{% endblock %}